<!DOCTYPE html>
<html lang="en">

<title> Puzzles </title>

{% include "base.html" %}

<html>
    <head>
        <title>{{ title }} - Koan</title>
    </head>
    <body>
        <h3>Questions available for <b>{{ team }}</b></h3>
	You currently have {{ points }} points. Answer questions to get more!
	{% for question_list in question_lists %}
	<div class="row">
	  {% for question in question_list %}
	  <div class="col s12 m4">
	    <a href = "{{ url_for('question', question_id=question.id) }}">
	      <div class="card cyan darken-1">
		<div class="card-content white-text">
		  <h5> {{ question.name }} </h5>
		  This is worth {{ question.points }} point(s).
		</div>
	      </div>
	    </a>
	  </div>
	  {% endfor %}
	</div>
	{% endfor %}
	{% for question_list in done_question_lists %}
	<div class="row">
	  {% for question in question_list %}
	  <div class="col s12 m4">
	      <div class="card grey darken-1">
		<div class="card-content white-text">
		  <h5> {{ question.name }} </h5>
		  You've already solved this!
		</div>
	      </div>
	  </div>
	  {% endfor %}
	</div>
	{% endfor %}
    </body>
</html>
