{% include "base.html" %}

<head>
  <title> {{ question.name }} </title>
</head>
<body>

<div>
<h2> {{ question.name }}</h2>
<span>
{{ question.question }}
</span>
<br><br>
{% if question.guess %}
<h5> Your guess <b>{{ question.guess }}</b> was
  <b><font color={{question.judgmentColor}}>{{question.judgment}}!</font></b></h5>
{% endif %}
{% if question.judgment != 'correct' %}
<form action="" method="post" novalidate>
  <P> Your guess: <input type = "text" name = "guess" /></p>
  <p><input type = "submit" value = "submit" /></p>
</div>
{% endif %}
{% if question.judgment == 'correct' %}
<h5><a href="{{ url_for('index') }}"> Try another one?</a><h5>
{% endif %}
<br>

</body>
